html,body{
    margin:0;
    padding:0;
    width:100%;
    background:#f4eee3;
}

.hero-page {
    width: 100%;
    min-height: 100svh;
    position: relative;
    overflow: hidden;
    background: #f4eee3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    touch-action:none;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
}

.hero-content {
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.hero-content h1{
    font-family: "Cormorant Garamond",serif;
    font-size: clamp(26px,5vw,36px);
    font-weight: 400;
    color: #7a634d;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
  
}
.hero-content h1 span{
    font-family: 'Great Vibes',cursive;
    font-size: clamp(28px,6vw,42px);
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
    display: block;
    margin-top: 10px;
    color: #7a634d;
}
.hero-content h1 .amp{
    font-family: 'Great Vibes',cursive;
    font-size: 1.3em;
    color: #7a634d;
    text-transform: none;
    font-weight: 400;
    margin: 0 6px;
    display: inline-block;
    vertical-align: middle;
}
.icon {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.icon img {
    width: clamp(45px, 12vw, 65px);
    height: auto;
    display: block;
    mix-blend-mode: multiply;
}

.scroll-down{
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: "Montserrat",sans-serif;
    font-size: 11px;
    white-space: nowrap;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f4e8d1;
}
.scroll-down .arrow{
    display: block;
    font-size: 20px;
    line-height: 1;
}

.top-branch img{
    width: 55px;
    height: auto;
    margin-bottom: 15px;
    display: block;
}
.bottom-branch img{
    width: 250px;
    height: auto;
    margin: 10px auto 25px;
    display: block;
}


.date-page {
    width: 100%;
    min-height: 100svh;
    background: #f4eee3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 25px;
    color: #c4b5a5;
    box-sizing: border-box;
}
.date-content{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.save-date{
    font-family: 'Great Vibes',cursive;
    font-size: 42px;
    letter-spacing: 1px;
    color: #6d543e;
    margin: 0 0 20px 0;
    
}
.wedding-date{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #7a634d;
    border-right: 1px solid #7a634d;
    padding: 0 28px;
    align-items: stretch;
    margin: 5px 0 20px;
}

.month span{
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    letter-spacing: 4px;
    color: #5c4632;
}
.day span{
    font-family: "Bodoni Moda ",serif;
    font-size: 58px;
    line-height: 1;
    font-weight: 500;
    color: #5c4632;
}
.year span{
    font-family: "Cormorant Garamond",serif;
    font-size: 18px;
    letter-spacing: 3px;
    color: #5c4632;
}
.day-time{
    font-family: "Montserrat",sans-serif;
    font-size: 11px;
    letter-spacing: 3px;
    color: #6d543e;
    margin:10px 0 20px ;
    text-transform: uppercase;
}
.heart-line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    gap: 12px;
    margin: 10px auto 25px ;
}

.heart-line span {
    flex: 1;
    height: 1px;
    background: #b49a72;
}

.heart-line b {
    padding: 0 10px;
    font-size: 9px;
    color: #6d543e;
}

.countdown-title {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #6d543e;
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}
.countbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 45px;
}

.countbox span {
    font-family: "Cormorant Garamond", serif;
    line-height: 1;
    font-size: 32px;
    color: #4b3527;
}

.countbox small {
    font-family: "Cormorant Garamond",serif;
    margin-top: 4px;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: capitaliz;
    color: #806b58;
}
.time-sep{
    color: #c4b5a5;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
}
.invitation-message {
    font-family: "Cormorant Garamond", serif;

    color: #5d4737;

    font-size: 20px;

    line-height: 1.6;
    font-style: italic;
}

.invitation-message p {
    margin: 4px 0;
}

.footer-heart{
    display: block;
    margin-top: 15px;
    font-size: 10px;
    color: #6d543e;
}
